/* Ajusta o cabeçalho */
header {
    margin: 0;
    padding: 10px 0;
}

/* Geral */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 20px;
    margin: 0 auto;
    flex-grow: 1;
}

/* Navbar */
.navbar .container {
    max-width: 1140px;
}

.navbar .form-control {
    max-width: 300px;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-left: auto;
}

.navbar .btn {
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 14px;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    color: #333;
}

/* Produtos */
img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

/* Rodapé */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

/* Define o tamanho fixo do carrossel */
.carousel-item img {
    width: 600; /* Ocupa toda a largura do carrossel */
    height: 500px; /* Altura fixa */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    object-position: center; /* Centraliza a imagem no espaço disponível */
    
}

/* Adiciona margens ao carrossel para melhor separação */
/* Estilo do contêiner do carrossel */
#carrosselProdutos {
    margin-bottom: 20px; /* Espaçamento abaixo do carrossel */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 10px; /* Cantos arredondados (opcional) */
    overflow: hidden; /* Garante que imagens arredondadas não saiam do contêiner */
}

#formAgendamento {
    max-width: 600px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o formulário */
    padding: 20px; /* Adiciona espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo leve */
    border: 1px solid #ddd; /* Adiciona uma borda leve */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

#formAgendamento button {
    background-color: #007bff; /* Azul padrão */
    border: none; /* Remove a borda padrão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Aplica o cursor de clique */
}

#formAgendamento button:hover {
    background-color: #0056b3; /* Azul escuro ao passar o mouse */
}


#mensagemAgendamento {
    display: none; /* Inicialmente escondido */
    text-align: center;
    font-weight: bold;
    color: green;
}

a:focus, button:focus {
    outline: 2px dashed #007bff; /* Define uma borda de foco visível */
    outline-offset: 4px; /* Adiciona um pequeno espaçamento */
}

